*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    vertical-align: middle;
    display: inline;
}

#logo {
    vertical-align: middle;
    padding: 10px;
}